*{
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right, #9c5353, #266940, #264f45);
}

/* partie main */

.apropos{
    width: 100%;
    height: 100vh;
    padding: 70px 0px;
}

.apropos img{
    height: auto;
    width: 420px;
    border-radius: 430px;
}
.texte-apropos{
    width: 550px;
}

.texte-apropos h1{
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.texte-apropos h5{
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.texte-apropos p{
    color-scheme: green;
    letter-spacing: 1px;
    line-height: 38px;
    text-align: justify;
    font-size: 22px;
    margin-bottom: 45px;
}
.main{
    display: flex;
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

span{
    color: f9004d;
}
.button-groupe{
    display: flex;
    gap: 15px;
}
button{
    background: firebrick;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4px;
}
button:hover{
    background: transparent;
    border: 2px solid red;
}





