
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    color: #222;
    text-align: center;
    min-height: 100vh
}

.hero {
  padding: 40px 20px;
  animation: fadeIn 1.2s ease;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Acceuil {
    border: solid 2px #00F;
    color: #00F;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    background: linear-gradient(135deg, rgb(60, 255, 0),rgb(255, 355, ) );
    text-align: center;
    text-decoration: none;
    border-radius: 45px;
    box-shadow: 5px 5px 5px #000;
}

.Acceuil:hover{
    box-shadow: none;
    border: solid 2px rgba(255, 355, 255, 0.4);
    background-color:rgba(145, 134, 134, 0.4);
    color: #000;
}

.sect{
    display: flex;
    gap: 40px;
    margin: 40px;
}

.sectcaptain{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  padding: 40px ;
}
