* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}

body{
    height: 100vh;
    background: linear-gradient(193deg, #5a03be, #12abda);
    
    padding: 50px 5%;

}

.container{
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: solid 2px rgba(255, 255, 255, .2) ;
    border-radius: 30px;
    backdrop-filter: calc(30px);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in{
    100%{
        transform: scale(1);
    }

}

header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 25px 5%;
    /*background-color: slateblue;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.animated{
    transform:translateY(30px) ;
    opacity: 0;
    animation: slide-in ease 1s forwards;
    animation-delay: 1s;
}

@keyframes slide-in{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.logo1{
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    border-color: #333;
    border-radius: 16px;
    border: solid blue 2px;
    box-shadow: 0 0 20px #04f5fd;
    padding-left: 20px;
    padding-right: 20px;

}

.logo1:hover{
    font-size: 25px;
    color: #aeeb05;
    text-decoration: none;
    font-weight: 400;
    border-color: #333;
    border-radius: 16px;
    border: solid blue 2px;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;

}



.logo2{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    border-color: #333;
    border-radius: 45px;
    border: solid 2px;
    box-shadow: #44F;
    padding-left: 20px;
    padding-right: 20px;
}


.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: solid 2px transparent;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active{
    border-color: #fff;
}

.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 200px;
    padding: 50px 5% 0;
    color: #fff;
    animation-delay: 1.5s;

}

.home-detail{
    
    width: 60%;
}

.home-detail h1 {
    font-size: 40px;
    line-height: 1;
    color: #000;
    

}

.home-detail h2{
    font-size: 28px;
    color: #5a03be;
    
}

.home-detail p {
    margin: 10px 0 20px;
}

.home-detail download-social {
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: solid #fff 2px;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

.btn:hover{
    background: transparent;
    text-shadow: none;
    color: #fff;
}


.home-detail social-icons{
    margin-left: 20px;
    width: 60%;
}

.home-detail social-icons a {
    display: inline-flex;
    padding: 8px;
    border: solid 2px #fff;
    border-radius: 50%;
    font-size: 20px ;
    color: #fff ;
    text-decoration: none;
    margin: 0 8px;
    transition: .5s;
}

.home-detail social-icons a:hover{
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
    
}

.img-box{
    position: relative;
    width: 400px;
    height: 400px;
    border: solid 2px #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
}

.img-size{
    position: absolute;
    bottom: 0.1px;
    width: 600px;
    object-fit: cover;
}

 h2{
    text-shadow: 0 0 20px #04f5fd;
}



@media screen and (max-width: 780px) {
    body{
        height: 100%;
    }

    .navbar a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    margin-left: 5px;
    border-bottom: solid 2px transparent;
    transition: .5s;
    
}

    .home{
        display: block;
        gap: 80px;
        height: 800px;
        padding-top: 80px;
    }
    /*.img-box{
        width: 150px;
        height: 150px;
        margin: auto;
    }

    .img-size{
    position: absolute;
    bottom: 0.1px;
    width: 180px;
    object-fit: cover;
}*/
    }

    .home-detail{
        margin-top: 30px;
        width:400px ;
        height: 300px ;
    }

    
