

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}

body{
    height: 100vh;
    background: linear-gradient(193deg, #5a03be, #12abda);
    
    padding: 50px 5%;

}

.container{
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: solid 2px rgba(255, 255, 255, .2) ;
    border-radius: 30px;
    backdrop-filter: calc(30px);
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
}

@keyframes zoom-in{
    100%{
        transform: scale(1);
    }
}

header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 25px 5%;
    /*background-color: slateblue;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.animated{
    transform:translateY(30px) ;
    opacity: 0;
    animation: slide-in ease 1s forwards;
    animation-delay: 1s;
}

@keyframes slide-in{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.logo1{
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    border-color: #333;
    border-radius: 16px;
    border: solid blue 2px;
    box-shadow: 0 0 20px #04f5fd;
    padding-left: 20px;
    padding-right: 20px;

}

.logo1:hover{
    font-size: 25px;
    color: #aeeb05;
    text-decoration: none;
    font-weight: 400;
    border-color: #333;
    border-radius: 16px;
    border: solid blue 2px;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: solid 2px transparent;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active{
    border-color: #fff;
}

.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
    animation-delay: 1.5s;

}

.home-detail{
    
    size: 60%;
}

.home-detail p {
    margin: 10px 0 20px;
    font-size: 25px;
}

.home-detail download-social {
    display: flex;
    align-items: center;
}

.logo2{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    border-color: #333;
    border-radius: 45px;
    border: solid 2px;
    box-shadow: #44F;
    padding-left: 20px;
    padding-right: 20px;
}

#span1{
    text-shadow: 0 0 20px #04f5fd;
}